html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 4000px;
  background: #161616;
}

h1,
h2,
h3 {
  font-size: 24px;
  font-weight: bolder;
  font-family: "Open Sans";
  transition: 0.5s ease-in;
  color: #00ff00;
}

h2 {
  font-size: 12px !important;
  font-style: italic;
  color: #ffffff;
}
